/storage/xxlquiz
/vendor
/node_modules
Homestead.yaml
Homestead.json
public/storage/avatars
public/storage/competition_attachments
/public/storage/filepond
/public/storage/chunks
/public/js
!/public/js/plugins
!/public/js/plugins/*/
!/public/js/plugins/*/*/
!/public/js/plugins/*/*/*
!/public/js/icons
!/public/js/icons/*/
!/public/js/icons/*/*/
!/public/js/icons/*/*/*
!/public/js/skins
!/public/js/skins/*
!/public/js/skins/*/*
!/public/js/skins/*/*/*
!/public/js/langs/de.js
!/public/js/langs/*
!/public/js/static
/public/css
!/public/css/vendor/static
/public/build
!/public/build/components
!/public/build/themes
!/public/build/semantic.css
!/public/build/semantic.min.css
!/public/build/semantic.js
!/public/build/semantic.min.js
/public/mix-manifest.json
.env
.env.testing
.idea
.DS_Store
.phpunit.result.cache
_ide_helper.php
npm-debug.log
/shift.md
/shift.log
/.php_cs.cache

