.o-dashboardGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  max-width: 1600px;
}

.o-dashboardGrid.-auto {
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.o-dashboardGrid.-sub {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
